.link-button {
  font-family: Playfair, Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  background-color: var(--primary-yellow);
  color: var(--primary-blue);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.link-button:hover:not(:disabled) {
  background-color: var(--hover-yellow);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}